h1 {
  font-size: 150%;
}

#ft {
  color: #cccccc;
  font-size: 80%;
}

div.scribble-map div.actions { margin: 1em 1em 1em 0; }
div.scribble-map div.actions a { margin-right: 1em; }

ul.burp-jquery-rank-options { margin: 1em 0 1em 0; }

li.burp-jquery-rank-item {
    display: block;
    width: 33%;
    text-align: center;
    margin: .25em 0 .25em 0;
    background-color: #eee;
    padding: .5em;
    border: 1px solid #ccc;
    font-weight: bold;
}

div.percentage-question div.labeled-radio-button {
    float: left;
}

div.percentage-question br {
    float: clear;
}

div.labeled-radio-button * {
    margin-right: 0.5em;
}

div.labeled-checkbox input {
    margin: 0.25em;
}

p.directions {
    border: 1px solid #eee;
    margin: 1em 0 1em 0;
    font-size: 120%;
    padding: 2em;
    color: #aa1122;
}
