#doc {
  font-size: 123.1%;
}

h1 {
  font-size: 150%;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0.5em 0pt;
}

em {
  font-style: oblique;
  background-color: #ffffcc;
}

.yui-g {
  margin:1em 0pt;
}

#ft {
  color: #cccccc;
  font-size: 80%;
}

#address { width: 100%; margin-bottom: 1em;}

.polygon-popup { text-align: center; }
.polygon-popup a.fg-button { float: none; margin: 0 0.5em 0 0.5em; }

.drawing { cursor: crosshair; }
